<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.25.3" targetFramework="net452" />
  <package id="FluentAssertions" version="4.2.2" targetFramework="net452" />
  <package id="ServiceStack" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Client" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Redis" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.54" targetFramework="net452" />
  <package id="xunit" version="2.1.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package id="xunit.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
</packages>